<app-header></app-header>

<section class="coverage position-relative">
    <img class="illu-hobies1" src="/assets/img/mountain-bike.png" alt="">
    <img class="illu-hobies2" src="/assets/img/mountain-hiking.png" alt="">
    <img appParallax [speed]="2" [angle]="225" class="illu-tasse" src="/assets/img/tasse.png" alt="">
    <div class="coverage_content text-center lh-sm">
        <img width="310" src="/assets/img/silouette.svg" alt="">
        <div class="white-separator"></div>
        <div class="fs-7 text-uppercase fw-bold ls-8">Hello, je suis</div>
        <div class="ff-anton fs-8">STEPHEN TELLIER</div>
        <div class="fs-7 fst-italic mt-3">UI / UX Designer <span class="fw-bold">et</span> Developper Front</div>
    </div>
</section>
<div class="bg-cream-b">
    <section id="work" class="container position-relative">
        <div class="fs-max fw-bold text-white-50 section-title">Work</div>
        <div class="position-relative pt-5">
            <div class="row align-items-center py-5">
                <div class="col-12 col-lg-7">
                    <img class="w-100" src="/assets/img/reco-visuelle.png" alt="">
                </div>
                <div class="col-12 col-lg-5">
                    <div class="mb-2 fw-bold fs-4">RECONNAISSANCE VISUELLE</div>
                    <div class="d-flex">
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">UX</div>
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">UI</div>
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">Illustration</div>
                    </div>
                    <div class="lh-lg mt-2">Proof Of Concept d'une nouvelle fonctionnalité pour l'app. Nous souhaitions voir comment l'utilisateur allait s'approprier la reconnaissance visuelle sur une app de vente privée. L'objectif étant de lui donner la possibilité de trouver un article similaire à partir d'une photo.<br>Il a donc fallu réaliser un prototype testable rapidement sous XD, avant de pouvoir lancer le développement.</div>
                    <div class="d-flex justify-content-center">
                        <a href="" class="btn btn-light mt-4 ls-5 fw-bold">Voir le prototype</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center flex-row-reverse py-5">
                <div class="col-12 col-lg-7">
                    <img class="w-100" src="/assets/img/EVA.png" alt="">
                </div>
                <div class="col-12 col-lg-5">
                    <div class="mb-2 fw-bold fs-4">EVA : SAAS DE VALIDATION DE COUPON DE SPA</div>
                    <div class="d-flex">
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">UX</div>
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">UI</div>
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">Dev front</div>
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">Illustration</div>
                    </div>
                    <div class="lh-lg mt-2">Beautéprivée propose à ses clients des soins sous forme de coupon à utiliser dans leur spas partenaires. Ces dits spa ont besoin d'information et de retours utilisateurs sur leurs ventes faites via ce biais. Ce qui a donné naissance à Eva, un petit applicatif fait sous Angular permettant de valider des coupons et d'avoir tous les retours client visible et toute une série de statistiques sur les chiffres réalisés.</div>
                    <div class="d-flex justify-content-center">
                        <a href="" class="btn btn-light mt-4 ls-5 fw-bold">Voir le prototype</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center py-5">
                <div class="col-12 col-lg-7">
                    <img class="w-100" src="/assets/img/cheerz.png" alt="">
                </div>
                <div class="col-12 col-lg-5">
                    <div class="mb-2 fw-bold fs-4">RECONNAISSANCE VISUELLE</div>
                    <div class="d-flex">
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">Sprint design</div>
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">UX</div>
                        <div class="badge rounded-pill bg-cream text-dark fst-italic me-1">UI</div>
                    </div>
                    <div class="lh-lg mt-2">Après avoir beaucoup lu sur le design sprint j'ai souhaité m'essayer à cette approche sur l'application Cheerz. Un sprint normal dure 5 jours et se fait en équipe, celui-ci a été réalisé seul sur une journée.<br>Cette méthode est un énorme plus pour dégager de nouvelles idées ou trouver des points d'améliorations sur un parcours.<br>Sans étonnement il en est sortie quelque chose d'intéressant rapidement sur Cheerz.</div>
                    <div class="d-flex justify-content-center">
                        <a href="" class="btn btn-light mt-4 ls-5 fw-bold">Voir le sprint</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section id="about" class="coverage">
    <div class="container position-relative">
        <div class="fs-max fw-bold text-white-50 section-title">About</div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 lh-lg">
                <p>Durant ces 7 dernières années j'ai travaillé en tant que designer digital, UI UX designer, développer front et manager d'une petite équipe à Showroomprivée - Paris. Adepte du "less is more", je mets tout en œuvre pour proposer des designs épurés et centrés sur les besoins utilisateurs afin de concevoir des produits digitaux intuitifs.<br>
                J'ai beaucoup appris par l'autoapprentissage et recherche perpétuellement les dernières tendances en termes d'outils et de conception.<br><br>
                Quand je ne travaille pas je passe mon temps libre à assouvir mon besoin d'aventures sportives, Montain bike, trek, escalade, kite surf…❤️</p>

                <div class="mb-2 mt-5 fw-bold fs-4">EXPERTISE</div>
                <ul class="d-flex flex-wrap">
                    <li class="me-5">Design digital</li>
                    <li class="me-5">UX/UI</li> 
                    <li class="me-5">développement Front</li>
                    <li class="me-5">Illustration</li>
                </ul>

                <div class="mb-2 mt-5 fw-bold fs-4">COMPETANCE</div>
                <ul class="d-flex flex-wrap">
                    <li class="me-5">Adobe Creative</li>
                    <li class="me-5">Suite Conception & Idéation</li> 
                    <li class="me-5">B2B & B2C</li>
                    <li class="me-5">HTML/CSS/JS</li>
                    <li class="me-5">Angular</li>
                    <li class="me-5">Vue.js</li>
                    <li class="me-5">Management</li>
                </ul>
            </div>
        </div>
    </div>  
</section>

<section id="contact" class="coverage bg-cream-b">
    <div class="container position-relative">
        <div class="fs-max fw-bold text-white-50 section-title">Contact</div>
        <div class="text-center">
            stephix.pro@gmail.com<br>
            06 72 68 18 35
        </div>
    </div>

</section>