.coverage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.white-separator{
    background-color: #fff;
    border-radius: 1000px;
    height: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.illu-hobies1{
    position: absolute;
    top: 50px;
    right: 50%;
    z-index: -1;
}

.illu-hobies2{
    position: absolute;
    top: -10px;
    left: 50%;
    z-index: -1;
}

.section-title{
    position: absolute;
    top: -50px;
}

.illu-tasse{
    width: 200px;
    position: absolute;
    top: calc(50% + 100px);
    left: calc(50% + 500px);
    z-index: 10;
}

.illu-plant{
    width: 350px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% + 300px);
    z-index: 10;
}

.illu-ipad{
    width: 800px;
    position: absolute;
    top: calc(50% - 800px);
    left: calc(50% - 1000px);
    z-index: 10;
}

.illu-crayon{
    width: 150px;
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 500px);
    z-index: 10;
}

.illu-livre{
    width: 450px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 800px);
    z-index: 10;
}