<img src="/assets/img/head.jpg" alt="" class="w-100 img-head">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <h2 class="fs-3 mt-5 mb-5 fw-bold">CHEERZ : TEST DE LA METHODE DE DESIGN SPRINT - 1J</h2>
            <p class="fs-4">RECHERCHE DE BESOIN</p>
            <p>Les jeunes Mobinautes passent très peu de temps par jour sur des applications de e-commerce, environs 6 minutes par jour pour un 18 - 24 ans. -
               <a href="https://www.blogdumoderateur.com/comscore-mobile-app-report-2017/">source</a>
            </p>
            <p class="fw-bold mt-4 mb-3">Un rapide persona</p>
            <img class="w-100 rounded" src="/assets/img/persona.png" alt="persona">
            <p class="fw-bold mt-4 mb-3">Un objectif à long terme</p>
            <p>Etant donné que les jeunes passent que très
                peu de temps sur les sites de e-commerce
                et que tout doit aller de plus en plus vite !
                Pourquoi ne pas encore essayer de réduire
                le temps de création d’une box et définir
                les questions qui en découlent.
            </p>
            <p class="fw-bold mt-4 mb-3">Le parcours classique</p>
            <p>Il s’agit là du parcours classique que peut emprunter n’importe quel client, de l’ouverture de l’app à
                l’achat. Il nous faut maintenant regarder ou l’on peut intervenir pour gagner quelques précieuses
                minutes !</p>
            <img class="w-100 rounded" src="/assets/img/objectif.png" alt="persona">
            <p class="fw-bold mt-4 mb-3">« How Might We ? »</p>
            <p>Il faut maintenant se poser les bonnes
                questions à chaque étape de notre
                parcours pour savoir comment nous
                pourrions gagner du temps ! On les
                regroupe en thème et on choisit celui qui
                nous parait le plus convainquant. Il s’agira
                donc ici de la « Personnalisation
                
                express ». C’est à dire modifier toutes les
                photos d’un seul tenant, qu’il s’agisse de
                la typo, du filtre utilisé ou de la couleur de
                fond du carton du Polaroïd.
                
                L’utilisateur peut avoir cette volonté pour
                rendre sont oeuvre cohérente. S’il a
                
                une masse importante de photos, il faut qu’il puisse faire ces changements rapidement. Cela
                répondra donc en partie à la question « Comment automatiser le maximum de tâches » et se
                portera au niveau de l’étape de personnalisation !
                Voila donc le sujet.</p>
                <img class="w-100 rounded" src="/assets/img/hmw.png" alt="persona">
                <img class="w-100 rounded" src="/assets/img/objectif-choix.png" alt="persona">

                <p class="fs-4">Analyse de l’existant chez Cheerz</p>
                <p>Chez Cheerz, dans le cadre de la création d’une Box, il est actuellement possible de personnaliser
                    ses photos avant l’achat.<br><br>
                    
                    Nous pouvons :<br>
                    - Choisir le format, classique ou moderne<br>
                    - Modifier la couleur de fond des Polaroïds<br>
                    <br>
                    - Changer la typo<br>
                    - Recadrer l’image<br>
                    - Ajouter du texte<br>
                    <br>
                    Cela permet au client de se construire un souvenir unique.<br>
                    <br>
                    Aujourd’hui la majorité de ces modifications sont à faire de façon individuel.
                    Si l’utilisateur souhaite uniformiser l’ensemble de ses photos, comme choisir la même couleur de
                    fond, le même filtre et la même typo, il devra les modifier une par une.
                    Par conséquent, il serait intéressant de réfléchir à comment accélérer le processus de
                    personnalisation.
                </p>
                <p class="fs-4">Redesign de la solution</p>
                <p class="fw-bold mt-4 mb-3">Ce que propose les autres sites</p>
                <p>Peu d’application propose de la personnalisation

                    grouper. <br>
                    Instagram le fait très bien en séparant la
                    personnalisation unique et la personnalisation de
                    
                    groupe.<br>
                    Beaucoup d’autres utilisent le swipe pour passer
                    d’un filtre à l’autre, très utile pour une visualisation
                    rapide. Snapshat et Cookie Cam.</p>
                    <img class="w-100 rounded" src="/assets/img/concurents.png" alt="persona">
                <p class="fw-bold mt-4 mb-3">Cazy 8</p>
                <img class="w-100 rounded" src="/assets/img/crazy8.png" alt="persona">
                <p class="fw-bold mt-4 mb-3">Esquisse de solution</p>
                <img class="w-100 rounded" src="/assets/img/esquisse.png" alt="persona">
                <p class="fw-bold mt-4 mb-3">Prototypage</p>
                <img class="w-100 rounded" src="/assets/img/prototype.png" alt="persona">
        </div>
    </div>
</div>

